      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt" ng-if="trenova_user.ad_type != 'RESELLER' && trenova_user.ad_type != 'AGENT' && trenova_user.ad_type != 'TEACHER'">
        <a href class="navbar-brand text-lt" ng-if="trenova_user.ad_type == 'RESELLER' || trenova_user.ad_type == 'AGENT' || trenova_user.ad_type == 'TEACHER'">
          <!-- <i class="fa fa-btc"></i> -->
          <img src="img/trenova-logo.png" alt="Trenova" style="max-height: 40px; margin-top: 10px;">
          <!-- <span class="hidden-folded m-l-xs">{{app.name}}</span> -->
        </a>
        <a href="#/app/re-dashboard" class="navbar-brand text-lt" ng-if="trenova_user.ad_type == 'RESELLER' ">
          <!-- <i class="fa fa-btc"></i> -->
          <img src="img/trenova-logo.png" alt="Trenova" style="max-height: 40px; margin-top: 10px;">
          <!-- <span class="hidden-folded m-l-xs">{{app.name}}</span> -->
        </a>
        <a href="#/app/agent-dashboard" class="navbar-brand text-lt" ng-if="trenova_user.ad_type == 'AGENT' ">
          <!-- <i class="fa fa-btc"></i> -->
          <img src="img/trenova-logo.png" alt="Trenova" style="max-height: 40px; margin-top: 10px;">
          <!-- <span class="hidden-folded m-l-xs">{{app.name}}</span> -->
        </a>        
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" ng-controller="HeaderCtrl">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
          <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          
          <li class="dropdown" dropdown ng-if="trenova_user.ad_type != 'RESELLER' && trenova_user.ad_type != 'TEACHER' && trenova_user.ad_type != 'AGENT'">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="app.course-edit" translate="header.navbar.new.COURSE">Course</a></li>
              <li><a ui-sref="app.user-edit" translate="header.navbar.new.USER">User</a></li>
              <li><a ui-sref="app.admin-edit" translate="header.navbar.new.ADMIN">Admin</a></li>
            </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
          <li class="dropdown" dropdown ng-if=" trenova_user.ad_type != 'TEACHER' && trenova_user.ad_type != 'RESELLER' && trenova_user.ad_type != 'AGENT'">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-envelope fa-fw"></i>
              <span class="visible-xs-inline">Unread Messages</span>
              <span class="badge badge-sm up bg-info pull-right-xs">{{not_feed.length}}</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp" ng-show="not_feed.length > 0">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>{{not_feed.length}}</span> unread feedback message(s)</strong>
                </div>
                <div class="list-group">
                  <h5 ng-repeat="feedback in not_feed track by $index">
                  <a class="media list-group-item" >
                    <span class="media-body block m-b-none" ng-click = "FeedMessageList($index, feedback.fd_id)" ">
                      {{feedback.user_fullname}} : {{feedback.fd_topic}}<br>
                      <small class="text-muted"><span am-time-ago="feedback.fd_date"></span></small>
                    </span>
                  </a>
                  </h5>

                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a ui-sref="app.feedback-list" data-toggle="class:show animated fadeInRight">See all feedbacks</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown ng-if=" trenova_user.ad_type != 'TEACHER' && trenova_user.ad_type != 'RESELLER' && trenova_user.ad_type != 'AGENT' ">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Awaiting Confirmation</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">{{not_list.length}}</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp" ng-show="not_list.length > 0">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>{{not_list.length}}</span> payment(s) awaiting confirmation</strong>
                </div>
                <div class="list-group">
                  
                  <a ui-sref="app.bank-waiting-list" class="media list-group-item" ng-repeat="payment in not_list">
                    <span class="media-body block m-b-none">
                      <strong>{{payment.user_fullname}}</strong> paid <strong>N{{payment.pay_amount | number:2}}</strong> on <strong>{{payment.pay_bank_date | date:'mediumDate' }}</strong><br>
                      <small class="text-muted"><span am-time-ago="payment.pay_time_completed"></span></small>
                    </span>
                  </a>

                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a ui-sref="app.bank-waiting-list" data-toggle="class:show animated fadeInRight">See all payments awaiting confirmation</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/admin-images/{{trenova_user.ad_photo}}" alt="img/a0.jpg" ng-if ="trenova_user.ad_photo != undefined">
                <img src="img/a0.jpg" alt="img/a0.jpg" ng-if ="trenova_user.ad_photo == undefined">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="">{{trenova_user.ad_name}}</span>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              
              <li>
                <a ui-sref="app.profile-edit">Edit Profile</a>
              </li>
              <li>
                <a ui-sref="app.password-change">Change Password</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  Help
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->