<div class="bg-light lter b-b wrapper-md">
  <div class="pull-left">
    <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
  </div>
  <div class="pull-right">
    <button class="btn m-b-xs btn-success btn-addon" ui-sref="app.broadcast-message"><i class="fa fa-plus"></i>New Broadcast</button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="wrapper-md" ng-controller="UserController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Broadcast
    </div>
    <div class="table-responsive">
      <table datatable="ng" dt-options ="dtOptions" class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="25%">Name</th>
            <th width="50%">Topic</th>
            <th width="15%">Date</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bc in broadcast track by $index">
            <td> {{bc.ad_name}} </td>
            <td>{{bc.bc_topic}} </td>
            <td>{{bc.bc_date}} </td>
            <td>
           <button class="btn btn-icon btn-sm btn-info" ui-sref="app.broadcast-message({id:bc.bc_id})" tooltip="View Broadcast Message" ng-if="trenova_user.ad_type == 'ADMIN' || trenova_user.ad_type == 'SUPER'"><i class="fa fa-info"></i></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>