<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
</div>
<div class="wrapper-md" ng-controller="BundleController">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Bundle Details</div>
        <div class="panel-body">
          <form role="form" name="form">
            
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Enter bundle title" required ng-model="bundle.bdl_name">
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea type="text" maxlength="500" rows="2" class="form-control" placeholder="Enter bundle description" required ng-model="bundle.bdl_description"></textarea>
            </div>
            
            <div class="form-group">
              <label>Type</label>
              <select ng-model="bundle.bdl_type" class="form-control">
                <option value="CUSTOM">CUSTOM</option>
                <option value="TERM">TERM</option>
                <option value="CLASS">CLASS</option>
                <option value="YEAR">YEAR</option>
              </select>
            </div>

        <div class="form-group" ng-if = "bundle.bdl_type == 'CUSTOM' ">
          <label class="control-label">Select Courses</label>
            <select class="form-control" ui-jq="chosen" multiple ng-options="course.course_id as course.course_title for course in courses" ng-model="bundle.selected_course">
            </select>
        </div>


        <div class="form-group col-sm-4" ng-if = "bundle.bdl_type == 'TERM' ">
          <label class="control-label">Select term/semester</label>
          <select class="form-control col-sm-4" required ng-model="bundle.bdl_term_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>

        <div class="form-group col-sm-4" ng-if = "bundle.bdl_type == 'CLASS' ">
          <label class="control-label">Class</label>
            <select class="form-control" ng-options="class.class_id as class.class_name for class in classes" ng-model="bundle.selected_class" required>
            </select>
        </div>

            <div class="form-group col-sm-4" ng-if = "bundle.bdl_type == 'TERM' || bundle.bdl_type == 'CLASS' || bundle.bdl_type == 'YEAR' ">
              <label>School</label>
              <select class="form-control" ng-options="school.sch_id as school.sch_name for school in schools" ng-model="bundle.selected_school" required >
              </select>
            </div>

            <div class="form-group col-sm-4" ng-if = "bundle.bdl_type == 'TERM' || bundle.bdl_type == 'CLASS' || bundle.bdl_type == 'YEAR' ">
              <label>Subject</label>
              <select class="form-control" ng-options="subject.sb_id as subject.sb_title for subject in subjects" ng-model="bundle.selected_subject" required >
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label>Price</label>
              <input type="number" rows="2" class="form-control" placeholder="Enter bundle price" required ng-model="bundle.bdl_price" />
            </div>

          <div class="form-group col-sm-10">
            <button type="submit" class="btn btn-success" ng-click="editBundle(bundle)" ng-disabled='form.$invalid'> {{bundle.bdl_id ? 'Save' : 'Submit' }} </button>            

            <button type="button" class="btn btn-default" ui-sref="app.bundle-list">Back to List</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
  
  
</div>