<div ng-controller="CourseController"><div class="bg-light lter b-b wrapper-md">
  <button class="btn btn-rounded btn-danger pull-right" ng-click="deleteCourse(course.course_id)" tooltip="Delete Course">Delete Course</button>

  <button class="btn btn-info btn-rounded pull-right" ui-sref="app.course-edit({id:course.course_id})" tooltip="Edit Course">Edit Course</button>

  <button class="btn btn-rounded pull-right" ui-sref="app.course-list" tooltip="List of Courses">Back to Course List</button>

  <h1 class="m-n font-thin h3">{{$state.current.data.pageTitle}}</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-6">
      <div class="blog-post">                   
        <div class="panel">
          <div>
            <img src="img/course-images/{{course.course_image}}" class="img-full">
          </div>
          <div class="wrapper-lg">
            <h2 class="m-t-none"><a href> {{course.course_title}}</a></h2>
            <div>
              <div class="well">{{course.course_summary}}</div>

              <div ng-bind-html="course.course_description"></div>

            </div>
            
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-clock-o text-muted"></i> {{course.course_date_created | date}}
              <i class="fa fa-eye text-muted"></i> {{course.course_view_count}} views
              <span ng-><i class="fa fa-star text-muted"></i> Featured</span>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-sm-6">
      <h5 class="font-bold">Course Price</h5>
        <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp">
          <li class="list-group-item">
            <div class="clear">
              <h2 class="font-bold">N{{course.course_price | number:2}}</h2>
            </div>
          </li>
      </ul>
      <h5 class="font-bold">Course {{course.term_label}}</h5>
      <button class="btn btn-success btn-sm" ng-click="openModal()"><i class="fa fa-plus"></i> Add {{course.term_label}}</button><br><br>

      <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-body wrapper-lg">
        <div class="row">
          <h3 class="m-t-none m-b font-thin">{{module.less_id ? 'Edit' : 'Create'}} {{course.term_label}}</h3>
          <p><strong>{{module.less_id ? 'Edit' + course.term_label + ' in  ' : 'Create new ' + course.term_label + ' for'}} <u>{{course.course_title}}</u></strong></p>
          <form role="form">
            <div class="alert alert-danger" ng-hide="!error">{{error}}</div>
            <div class="form-group">
              <label>{{course.term_label}} Title</label>
              <input type="text" class="form-control" placeholder="Enter title" ng-model="module.less_title" required>
            </div>
            <div class="form-group">
              <label>{{course.term_label}} Content</label>
              <textarea required class="form-control" placeholder="Enter lesson description here" ng-model="module.less_content"></textarea>
            </div>

            <div class="form-group">
              <label>Add Video <input type="checkbox" ng-model="moduleVideo"> </label>
            </div>
            <div class="form-group" ng-show="moduleVideo">
              <label>
              <strong>Upload Video</strong></label>
              <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'video/*'"
            ngf-accept="'video/*'" ngf-max-size="200MB" ngf-min-height="100">
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{video_progress}}%"> {{video_progress}}%           
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>{{course.term_label}} Number</label>
              <input type="number" class="form-control" ng-model="module.less_number">
            </div>            

            <div class="checkbox m-t-lg">
              <button type="button" class="btn btn-success pull-right text-uc m-t-n-xs" ng-click="editModule(file,module)"><strong>Save</strong></button>

              <button type="button" class="btn pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Cancel</strong></button>              
            </div>
          </form>
        </div>
      </div>
      </script>      

      <div class="alert alert-danger" ng-hide="lessons.length > 0">No {{course.term_label}} found!</div>

      <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp" ng-show="lessons.length > 0" >
        
        <li class="list-group-item" ng-repeat="lesson in lessons">

          <span class="pull-right" >
            <a href ng-click="openModal(lesson)"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
            <a href ng-click="deleteModule(lesson.less_id)"><i class="fa fa-times fa-fw"></i></a>                  
          </span>
          <span class="pull-left">{{$index+1}} - &nbsp; </span>
          <div class="clear">
            <strong> {{lesson.less_title}} </strong>
          </div>
        </li>
      </ul>

      <!--questions -->
      <h5 class="font-bold">Course Questions</h5>
      <button class="btn btn-success btn-sm" ng-click="openQuestionModal()"><i class="fa fa-plus"></i> Add Question</button>
      <button class="btn btn-success btn-sm" ui-sref="app.quiz-list({id:course.course_id})"><i class="fa fa-book"></i> Quiz Scores</button><br><br>

      <script type="text/ng-template" id="myQuestionModalContent.html">
      <div class="modal-body wrapper-lg">
        <div class="row">
          <h3 class="m-t-none m-b font-thin">{{question.q_course_id ? 'Edit' : 'Create'}} Question <small><i>check the correct answer</i></small></h3>
          <p><strong>{{question.q_course_id ? 'Edit Question in' : 'Create new Question for'}} <u>{{course.course_title}}</u></strong></p>
          <form role="form">
            <div class="alert alert-danger" ng-hide="!error">{{error}}</div>
            <div class="form-group">
              <label>Question</label>
              <input type="text" class="form-control" placeholder="Enter question" ng-model="question.q_question" required>
            </div> <br />
            <h5><strong>Enter options and Mark only the correct option </strong></h5>
            <div>
            <p ng-show = "question.option"> You Selected <strong>{{question.option}}</strong> As The Correct Answer</p>
            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" ng-model="question.option" value="{{question.optiona}}" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." ng-model="question.optiona" required>
            </div><br />

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" ng-model="question.option" value="{{question.optionb}} " aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." ng-model="question.optionb" required>
            </div><br />

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" ng-model="question.option" value="{{question.optionc}}" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." ng-model="question.optionc" required>
            </div><br />

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" ng-model="question.option" value="{{question.optiond}}" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="..." ng-model="question.optiond" required>
            </div><br />
            </div>

            <div class="form-group col-md-3">
              <label>Position/Priority</label>
              <input type="number" class="form-control" ng-model="question.question_number">
            </div>

            <div class="checkbox m-t-lg">
              <button type="button" class="btn btn-success pull-right text-uc m-t-n-xs" ng-click="editQuestionModule(question)"><strong>Save</strong></button>

              <button type="button" class="btn pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Cancel</strong></button>              
            </div>
          </form>
        </div>
      </div>
      </script>      

      <div class="alert alert-danger" ng-hide="questions.length > 0">No Questions found!</div>

      <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp" ng-show="questions.length > 0" >
        
        <li class="list-group-item" ng-repeat="question in questions">

          <span class="pull-right" >
            <a href ng-click="openQuestionModal(question)"><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
            <a href ng-click="deleteQuestionModule(question.q_id)"><i class="fa fa-times fa-fw"></i></a>                  
          </span>
          <span class="pull-left">{{$index+1}} - &nbsp; </span>
          <div class="clear">
            <strong> {{question.q_question}} </strong>
          </div>
        </li>
      </ul>

      <!-- end of questions-->

    </div>
  </div>
</div>
</div>