<div class="bg-light lter b-b wrapper-md">
  <div class="pull-left">
    <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
  </div>
  <div class="pull-right" ng-if="trenova_user.ad_type == 'ADMIN' || trenova_user.ad_type == 'SUPER'">
    <button class="btn m-b-xs btn-success btn-addon" ui-sref="app.course-edit"><i class="fa fa-plus"></i>New Course</button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="wrapper-md" ng-controller="CourseController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Courses Details
    </div>
    <div class="table-responsive">
      <table datatable="ng" dt-options ="dtOptions" class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="35%">Course Title</th>
            <th width="10%">Price</th>
            <th width="10%">Date Created</th>
            <th width="10%">Views</th>
            <th width="10%">Subscriptions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in courses_pend">
            <td> {{course.course_title}} </td>
            <td> {{course.course_price}} </td>
            <td> {{course.course_time_created | dateToISO | date:'mediumDate'}} </td>
            <td> {{course.course_view_count}} </td>
            <td> {{course.sub_count}} </td>
            <td>
            <button class="btn btn-icon btn-sm btn-success" ng-click="approveCourse(course.course_id)" tooltip="Approve Course" ng-if="(trenova_user.ad_type == 'ADMIN' || trenova_user.ad_type == 'SUPER' ) && course.course_status == 'PENDING' "><i class="fa fa-thumbs-up"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>