<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
</div>
<div class="wrapper-md" ng-controller="ProfileController">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="form">
            <div class="form-group">
              <label>Old Password</label>
              <input type="password" class="form-control" placeholder="Old Password" required ng-model="password.old">
            </div>

            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" placeholder="New Password" required ng-model="password.new">
            </div>

            <div class="form-group">
              <label>Retype Password</label>
              <input type="password" class="form-control" placeholder="Retype New Password" required ng-model="password.new2">
            </div>
            
            <button type="submit" class="btn btn-success" ng-click="changePassword(password)" ng-disabled='form.$invalid'> Update </button>

          </form>
        </div>
      </div>
    </div>
    
  </div>
  
  
</div>