<div class="bg-light lter b-b wrapper-md">
  <div class="pull-left">
    <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
  </div>
  <!-- <div class="pull-right">
    <button class="btn m-b-xs btn-success btn-addon" ui-sref="app.order-edit" ng-if="false"><i class="fa fa-plus"></i>New order</button>
  </div> -->
  <div class="clearfix"></div>
</div>
<div class="wrapper-md" ng-controller="ResellerController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Commission List
    </div>
    <h3 ng-hide="reseller_upay.length > 0" style="text-align: center;"> You Don't Have Any Unpaid Commissions</h3>
    <div class="table-responsive" ng-show="reseller_upay.length > 0">
      <table class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="20%">Name</th>
            <th width="45%">Course</th>
            <th width="15%">Date</th>
            <th width="10%">Amount</th>
            <th width="10%">Commision</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reseller in reseller_upay">
            <td> {{reseller.user_fullname}}</td>
            <td> {{reseller.course_title}} </td>
            <td> {{reseller.rc_date | date }} </td>
            <td> {{reseller.order_total }} </td>
            <td> {{reseller.rc_commission }} </td>
            </tr>
          <tr>
          <td></td>
          <td></td>
          <td></td>
            <td width="60%"><strong><span style="float: right;">Total</span> </strong> </td>
            <td><span style="float: left;"> <strong>#{{reseller_t.commission }}</strong></span> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>