<div class="bg-light lter b-b wrapper-md">
  <div class="pull-left">
    <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
  </div>
  <div class="pull-right">
    <button class="btn m-b-xs btn-success btn-addon" ui-sref="app.reseller-edit"><i class="fa fa-plus"></i>New Reseller</button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="wrapper-md" ng-controller="ResellerController">
  <div class="panel panel-default">
    <div class="panel-heading">
      Resellers Awaiting Verification
    </div>
    <div class="table-responsive">
      <table datatable="ng" dt-options ="dtOptions" class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="15%">Name</th>
            <th width="15%">Email</th>
            <th width="15%">Phone</th>
            <th width="15%">Created</th>
            <th width="10%">Status</th>
            <th width="15%">Last Login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reseller in resellers track by $index">
            <td> {{reseller.ad_name}} </td>
            <td> {{reseller.ad_email}} </td>
            <td> {{reseller.ad_phone}} </td>
            <td> {{reseller.ad_time_reg | dateToISO | date }} </td>
            <td> <span class="label" ng-class="{'bg-success': reseller.ad_reg_status == 'VERIFIED', 'bg-warning': reseller.ad_reg_status == 'PENDING'}">{{reseller.ad_reg_status}}</span> </td>
            <td> <span am-time-ago="reseller.ad_last_login"></span> </td>
            <td>
              <button class="btn btn-icon btn-sm btn-success" ng-click="verifyReseller(reseller, $index)" tooltip="Verify Reseller" ng-if="reseller.ad_reg_status == 'PENDING' && (trenova_user.ad_type == 'ADMIN' || trenova_user.ad_type == 'SUPER')"><i class="fa fa-check"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>