<div class="bg-light lter b-b wrapper-md">
  <div class="pull-left">
    <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
  </div>
  <!-- <div class="pull-right">
    <button class="btn m-b-xs btn-success btn-addon" ui-sref="app.course-edit"><i class="fa fa-plus"></i>New Course</button>
  </div> -->
  <div class="clearfix"></div>
</div>
<div class="wrapper-md" ng-controller="SubscriptionController">
  <div class="panel panel-default">
    <div class="panel-heading">
      List of Subscriptions {{$stateParams.type ? '- ' + $stateParams.type : '' }}
    </div>
    <div class="table-responsive">
      <table datatable="ng" class="table table-striped m-b-none">
        <thead>
          <tr>
            <th width="20%">User</th>
            <th width="20%">E-mail</th>
            <th width="20%">Course</th>
            <th width="20%">Start Date</th>
            <th width="10%">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sub in subscriptions | filter:{sub_status:$stateParams.type} as filteredList">
            <td> {{sub.user_fullname}}</td>
            <td> {{sub.user_email}} </td>
            <td> {{sub.course_title}} </td>
            <td> {{sub.sub_date_started | dateToISO | date:'medium' }} </td>
            <td> <span class="label" ng-class="{'bg-success': sub.sub_status == 'ACTIVE', 'bg-warning': sub.sub_status == 'PENDING', 'bg-danger': sub.sub_status == 'EXPIRED' || sub.sub_status == 'PAUSED' }">{{sub.sub_status}}</span> </td>
            <td>
              <button class="btn btn-icon btn-sm btn-danger" ng-click="pauseSubscription(sub.sub_id)" tooltip="Pause Subscription" ng-if="sub.sub_status != 'PAUSED'" ><i class="fa fa-pause"></i></button>
              <button class="btn btn-icon btn-sm btn-danger" ng-click="resumeSubscription(sub.sub_id)" tooltip="Resume Subscription" ng-if="sub.sub_status == 'PAUSED'" ><i class="fa fa-play"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>